*{
    padding: 0px;
    margin: 0px;
}
.navigation_bar{
    display: flex;
    background-color: rgb(24, 23, 23);
   
}
.img{
    width: 40px;
    height: 50px;
    margin-left: 50px;
    
}
.navtext{
    padding: 15px;
    color:rgb(114, 111, 111);
    margin-left:50px;
}
.service{
    padding: 15px;
    color:rgb(114, 111, 111);
    margin-left:40px;
    background-color: rgb(24, 23, 23);
    border: none;
    font-size: 15px;
    font-weight: bold;
}
.searchbutton{
    width: 250px;
    height: 30px;
    margin: 10px 0px 10px 350px;
    border-radius: 5px;
}
.search2{
    width: 100px;
    height:30px ;
    margin: 10px 0px 10px 7px;
    text-align: center;
    border-radius:5px ;
}
.green_div{
    background-color: rgb(9, 153, 9);
    width: 100%;
    height: 300px;
    text-align: center;
}
.green_text{
    text-align: center;
    padding: 70px 0px 0px 0px;
    font-size: 50px;
    color: rgb(170, 163, 163);
    font-weight: lighter;
}
.green_text2{
   text-align: center;
    margin-top: 10px;
    color: rgb(170, 163, 163);
    font-weight: lighter;
}
.blue_text{
    color: rgb(22, 104, 172);
    font-size: 26px;
}
.btn1{
    width: 100px;
    height: 40px;
    background-color:blue ;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
}
.para1{
    color: gray;
    margin-top: 20px;
}
.square{
    display: flex;
    text-align: center;
}
.square_body{
    margin: 40px 0px 40px 100px;
}
.square1{
    width: 330px;
    height: 260px;
    margin: 20px;
    background-color:rgb(221, 215, 215);
    border: none;
    font-size: 28px;
    color: rgb(145, 138, 138);
    text-align: center;
    
}
.para2{
    margin-top: 10px;
}
.sq1{
    margin-top: 500px;
}
.yellow{
    background-color: orange;
    text-align: center;
    height: 360px;
    display: flex;

}
.circles{
    width: 80px;
    height: 80px;
    border-radius: 150px;
    text-align: center;
    border: none;
}
.yellow_body{
    margin: 40px 0px 0px 120px;
}
.btn2
{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
}
.footer{
    height: 100px;
    text-align: center;
    margin-top: 29px;
    color: gray;
}